body {
    max-width: 450px;
    margin: auto;
    background-color: #e7d9d9;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

form {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #1d185c;
}

form input {
    text-align: center;
    padding: .65rem;
    width: 65%;
}

form button {
    width: 45px;
}