h1,
h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.currentWeather {
    text-align: center;
}

.forecast-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.days {
    text-align: center;
}


/* Form */

form {
    max-width: 36rem;
    margin: auto;
    text-align: center;
}

form fieldset {
    margin: 1.8rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
}

form label,
textarea {
    padding: .75rem;
    margin: auto;
}

form label.top textarea {
    display: block;
}


/* Footer */

footer {
    text-align: center;
}